*
{margin: 0;
padding: 0;}
.hero
{
    position: absolute;
    height: 768px;

    width: 1366px;
    background-image: url(../assets/hero-image.png);
    background-size: 100% 100%;
}
.hero .lunar img

{
    position: absolute;
    width: 56px;
height: 40px;
top: 24px;
left: 142px;
}
.hero .lunar .a1
{position: absolute;
    width: 49px;
    height: 19px;
    color: #FFFFFF;
    top: 35px;
    left: 610px;


}
.hero .lunar .a1:hover
{
    text-decoration: underline;
    color: #C50000;
}
.hero .lunar .a2:hover
{
    text-decoration: underline;
    color: #C50000;
    
}


.hero .lunar .a2
{position: absolute;
    width: 77px;
    top: 35px;

    height: 19px;
    color:#FFFFFF;
    left: 699px;


}
.hero .layer
{position: absolute;
    width: 1295px;
    height: 445px;
    top: 172px;
    left: 39px;
    border-radius: 0px 10px 10px 0px;

/* background-color: transparent; */
background-color: rgba(0,0,0,.7);
/* border: 1px solid  gray; */

}
.hero .layer .row
{
    position: relative;
    top: 0;
    left: 0;
    width: 95%;
    margin: auto;
}
.hero .layer .img
{
    background-image: url(../assets/503.png);
    background-size: 100% 100%;
    width: 654px;
    height: 368px;

}
.hero .layer h1
{width: 636px;

    height: 19px;
    text-shadow: 0px 3px 6px #00000029;
padding-bottom: 35px;
}
.hero .content
{
    width: 636px;
     height: 368px;
margin: auto;

}


.hero .p1
{
    font-size:40px;
    font-weight: bold;
    color: #fff;
    width: 636px;
    height: 96px;
    text-shadow: 0px 3px 6px #00000029;
padding-bottom: 35px;

}
.hero .p2
{
    width: 636px;
font-size: 19px;
    height: 38px;
    text-shadow: 1px 1px 3px #00000029;

padding-bottom: 60px;
}
.hero .btn1
{
    background-color: #C50000;
color: #fff;
width: 248px;
height: 54px;
margin-right: 15px;

}
.hero .btn2
{
    
    border: 1px solid #524646;
    width: 248px;
    height: 54px;
    border: 1px solid #FFFFFF;
background-color: transparent;

}
.hero i
{
    margin-top: 40px;
    width: 24px;
    height: 24px;
    background: #C50000;
    margin-right:10px ;

}